/* Reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #ece7e7;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Container */
#container {
    display: flex;
    flex-direction: column;
    height: 100%;

}
/* Main content */
main {
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}


/* Header */
.new-collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
}

#new:hover {
    background-color: #574b4b;
    cursor: pointer;
    border-radius: 10px;
}

#new {
    display: flex;
    width: 60%;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

/* History */
.history {
    height: 80%;
    padding: 5px;
    overflow-y: auto;
}

.past {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.past li {
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.past li:hover {
    background-color: #574b4b;
    border-radius: 5px;
}

.past li a {
    font-size: 20px;
}

.delete-icon {
    font-size: 20px;
    transition: font-size 0.3s;
}

.delete-icon:hover {
    font-size: 24px;
    cursor: pointer;
}

.collection-link {
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.collection-link.active {
    color: rgb(16, 235, 16);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    background-color: white;
    border-radius: 50%;
    width: 40px;
}

.icon img {
    width: 20px;
}


nav {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

h2 {
    padding: 10px;
    margin: 0 10px;
    margin-left: 50px;
    display: inline-block;
    cursor: pointer;
}

/* User section */
#user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    width: 14rem;
    padding: 5px;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-name p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#user i {
    font-size: 22px;
}

/* Chat box */
.chat-box-mode-on {
    display: none;
}

.chat-messages img {
    height: 40px;
    width: 40px;
}

.chat-container {
    flex-grow: 1;
    width: 70vw;
    padding: 5px;
    overflow: auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chat-message {
    padding: 10px 0;
    border-radius: 8px;
    word-wrap: break-word;
    display: flex;
    gap: 1rem;
    font-size: 15px;
}

.temp_div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.temp_div img {
    height: 5rem;
    width: auto;
}
.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.chat-message img {
    height: 30px;
}

.input-field {
    flex-grow: 1;
    width: 50vw;
    height: 53px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    position: sticky;
}

#chat-input {
    width: 82%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background: none;
    outline: none;
}

#chat-input::placeholder {
    font-size: 17px;
}

.buttons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    margin-left: 10px;
    gap: 15px;
}

.image-upload {
    position: relative;
}

.custom-button img {
    cursor: pointer;
    height: 35px;
}

#file-upload {
    display: none;
}

#remove-image {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#remove-image img {
    height: 15px;
}

.buttons img {
    object-fit: contain;
}

#send-button {
    border: none;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-button img {
    height: 40px;
    width: 40px;
}

.note {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 300;
}

.speaker-icon {
    float: right;
    margin-left: 10px;
    cursor: pointer;
}

.icon-container {
    width: 24px;
    display: inline-block;
    vertical-align: middle;
}

#collection-message {
    font-size: 20px;
    text-align: center;
}

/* Sidebar */
.sidebar {
    background-color: #1b1818;
    color: white;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    z-index: 1000;
}

.sidebar a {
    padding-right: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color    : green;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
}

.openbtn {
    font-weight: bolder;
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    top: 250px;
    left: 10px;
}

.openbtn img {
    height: 30px;
}

#main {
    transition: margin-left 0.5s;
}

/* Responsive styles */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav {
        text-align: center;
    }
    .openbtn {
        top: 10px;
        left: 35px;
    }
    .chat-container {
        width: 100vw;
    }
    .input-field {
        height: 47px;
        width: 80vw;
    }
    #chat-input {
        font-size: 14px;
        width: 70%;
    }
    .chat-message {
        font-size: 14px;
    }
    .custom-button img {
        height: 30px;
    }
    #send-button img {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 767px) {
    body{
        height: calc(100vh - 56px);
    }
    .new-collection {
        flex-direction: column;
        align-items: flex-start;
    }
    #new {
        width: 70%;
        margin: 0;
        justify-content: space-between;
    }
    nav {
        text-align: center
    }
    nav h2 {
        margin-left: 0;
    }
    .openbtn {
        top: 10px;
        left: 20px;
    }
    .chat-container {
        width: 100vw;
        /* height: 70vh; */
    }
    .input-field {
        width: 95vw;
        height: 47px;
    }
    #chat-input {
        font-size: 14px;
        width: 75%;
    }
    .chat-message {
        font-size: 15px;
    }
    .custom-button img {
        height: 30px;
    }
    #send-button img {
        height: 30px;
        width: 30px;
    }
    .note{
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        width: auto;
        text-align: center;
    }
    .temp_div {
        font-size: 1rem;
    }
    .temp_div img {
        height: 4rem;
    }
    
    .buttons {
        right: 8px;
        gap: 10px;
    }
    .chat-message img {
        align-self: flex-start;
    }
}





